OPENAI_API_KEY=
ANTHROPIC_API_KEY=
OLLAMA_BASE_URL=http://localhost:11434/v1
PYDANTIC_AI_NO_BANNER=1

# Optional
LANGSMITH_TRACING=
LANGSMITH_API_KEY=
LOGFIRE_TOKEN=
AWS_PROFILE=
AWS_REGION=ap-southeast-1
